html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
font {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; text-align: left; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
body {
	line-height: 1;
}
a img {
	border: 0px currentColor;
}
:link img {
	border: 0px currentColor;
}
:visited img {
	border: 0px currentColor;
}
:link {
	text-decoration: none;
}
:visited {
	text-decoration: none;
}
:focus {
	outline: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left; font-weight: normal;
}
th {
	text-align: left; font-weight: normal;
}
td {
	text-align: left; font-weight: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote::before {
	content: "";
}
blockquote::after {
	content: "";
}
q::before {
	content: "";
}
q::after {
	content: "";
}
blockquote {
	quotes: "" "";
}
q {
	quotes: "" "";
}
h1 {
	margin-bottom: 0px;
}
h2 {
	margin-bottom: 0px;
}
h3 {
	margin-bottom: 0px;
}
h4 {
	margin-bottom: 0px;
}
h5 {
	margin-bottom: 0px;
}
h6 {
	margin-bottom: 0px;
}
h1 {
	position: relative;
}
h2 {
	position: relative;
}
h3 {
	position: relative;
}
h4 {
	position: relative;
}
h5 {
	position: relative;
}
h6 {
	position: relative;
}
p {
	position: relative;
}
legend {
	display: none; visibility: hidden;
}
hr {
	display: none; visibility: hidden;
}
button {
	cursor: pointer;
}
abbr {
	border: currentColor; cursor: help;
}
acronym {
	border: currentColor; cursor: help;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.clear {
	overflow: hidden; clear: both;
}
.hide {
	display: none; visibility: hidden;
}
.center {
	text-align: center;
}
.aright {
	text-align: right;
}
.nobottommargin {
	margin-bottom: 0px;
}
.flright {
	width: auto; float: right;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.replace {
	margin: 0px; padding: 0px; overflow: hidden; position: relative;
}
.replace span {
	left: 0px; top: 0px; display: block; position: absolute; z-index: 1;
}
.leftCntr {
	width: 325px; float: left;
}
#rightCntr {
	width: 620px; float: right;
}
.leftCntr table {
	table-layout: fixed;
}
.leftCntr table td {
	overflow: hidden;
}
h3.heading {
	background: 0px 0px rgb(204, 0, 0); margin: 0px; padding: 0px 5px; color: rgb(255, 255, 255); line-height: 2em; font-family: Helvetica Neue, Arial, Lucida Grande, sans-serif; font-size: 1.2em; font-weight: normal;
}
.heading a.on {
	background: url("../images/bg-toggle.gif") no-repeat -32px -32px !important; color: rgb(255, 255, 255); padding-left: 20px; text-decoration: none;
}
.heading a.toggle {
	background: url("../images/bg-toggle.gif") no-repeat -32px 0px; color: rgb(255, 255, 255); padding-left: 20px; text-decoration: none;
}
input.button {
	background: url("../images/bg-a-button.gif") no-repeat 100% 0px; padding: 0px 18px 0px 10px; border: 0px currentColor; height: 26px; line-height: 26px; overflow: visible; font-family: Arial,Helvetica,sans-serif; font-size: 1.1em !important; margin-bottom: 5px; cursor: pointer;
}
html {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0); font-size: 16px;
}
html#pop-up {
	background: rgb(255, 255, 255);
}
body {
	text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 62.5%;
}
html#pop-up body {
	padding: 10px;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
h5 {
	font-weight: normal;
}
h6 {
	font-weight: normal;
}
p {
	font-weight: normal;
}
p {
	margin: 5px 0px 1em; text-align: left; line-height: 1.4em; font-size: 1.2em;
}
p strong {
	line-height: 1.4em;
}
strong {
	font-weight: bold;
}
li {
	
}
input {
	overflow: hidden;
}
a {
	color: rgb(74, 135, 195); text-decoration: underline; cursor: pointer;
}
a:hover {
	color: rgb(0, 0, 0);
}
a.disabledlink {
	color: rgb(170, 170, 170) !important; text-decoration: none; cursor: text;
}
pre {
	font: 125%/1.5em monospace; font-size-adjust: none; font-stretch: normal;
}
code {
	font: 125%/1.5em monospace; font-size-adjust: none; font-stretch: normal;
}
hr {
	display: none;
}
#wrap {
	margin: 0px auto; width: 960px; text-align: left; overflow: hidden;
}
#header {
	background: rgb(204, 0, 0); width: 100%; overflow: hidden; padding-bottom: 5px; margin-bottom: 5px;
}
#content {
	width: 600px; float: right;
}
#footer {
	padding: 1px; clear: both; background-color: rgb(204, 204, 204);
}
.content {
	margin: 0px 0px 3px; padding: 8px 3px 5px; border: 2px solid rgb(204, 204, 204); height: 1%; overflow: hidden; clear: both; position: relative; background-color: rgb(255, 255, 255);
}
.hide {
	display: none; visibility: hidden;
}
.on {
	color: rgb(255, 255, 255); background-color: rgb(204, 0, 0);
}
.off {
	display: none;
}
.disabled {
	color: rgb(204, 204, 204) !important; cursor: default;
}
.red {
	color: rgb(204, 0, 0);
}
.blueBackGround {
	background-color: rgb(153, 187, 255);
}
.blueBackGround_red {
	color: rgb(204, 0, 0); background-color: rgb(153, 187, 255);
}
.grey-box {
	margin: 0px 0px 5px; padding: 5px; height: 1%; overflow: hidden; position: relative; background-color: rgb(241, 241, 241);
}
.half {
	width: 48.2%; margin-right: 10px; float: left; display: inline;
}
.third {
	width: 226px; margin-right: 9px; float: left; display: inline;
}
:last-child.third {
	margin-right: 0px !important;
}
:last-child.half {
	margin-right: 0px !important;
}
.third#broadband {
	margin-right: 0px !important;
}
.one-third {
	width: 226px; float: right; display: inline;
}
td.long {
	white-space: normal;
}
img.info {
	float: right; display: inline; cursor: pointer;
}
img.info-link {
	top: 2px; display: inline; position: relative; cursor: pointer;
}
div.notice {
	margin: 0px 0px 5px; padding: 3px 10px; border: 2px solid rgb(255, 204, 0); height: auto !important; position: relative; min-height: 30px; background-color: rgb(255, 255, 204);
}
div.error.notice {
	border-color: rgb(255, 175, 175); font-size: 12px; background-color: rgb(255, 223, 223);
}
div:first-child.notice {
	margin: 0px 0px 10px;
}
div.notice input {
	margin: 0px;
}
a.button-no-arrow {
	background: url("../images/bg-a-button.gif") no-repeat 50% 0px; padding: 0px 10px; border: 0px currentColor; height: 26px; color: rgb(0, 0, 0); line-height: 26px; font-size: 1.1em; position: relative; cursor: pointer;
}
a.disabled.button-no-arrow {
	background: rgb(204, 204, 204); color: rgb(255, 255, 255) !important; font-weight: bold; cursor: text;
}
a.button-no-arrow:hover {
	background-position: 50% -26px; color: rgb(0, 51, 153);
}
a.disabled.button-no-arrow:hover {
	background: rgb(204, 204, 204);
}
label span.points {
	background: url("../images/bg-star.gif") no-repeat 0px 50% rgb(119, 119, 119); padding: 2px 3px 2px 25px; font-weight: bold;
}
.disabled td.points {
	background: rgb(204, 204, 204) !important; color: rgb(255, 255, 255) !important;
}
.on td.points {
	background: rgb(102, 0, 0) !important; color: rgb(255, 255, 255) !important;
}
th.points {
	padding: 5px 0px 0px !important; text-align: center; vertical-align: middle;
}
#header h1 {
	margin: 0px; padding: 0px; text-indent: -9999px; float: left;
}
#header h1 img {
	margin: 5px 5px 0px; display: block;
}
h2 {
	margin: 0px 0px 5px; padding: 0px 5px 5px 0px; height: 1%; text-align: left; font-size: 1.8em; font-weight: bold;
}
#header h2 {
	margin: 15px 1em 0px 0px; padding: 0px; color: rgb(255, 255, 255); line-height: 1em; font-size: 2.4em; font-weight: normal; float: left; display: inline;
}
h2.heading {
	margin: 0px 0px 5px; padding: 0px 5px; height: 2em; color: rgb(125, 74, 21); line-height: 2em; font-size: 1.4em; font-weight: bold; background-color: rgb(221, 221, 221);
}
h2.collapsed.heading {
	margin: 0px;
}
h2.heading a {
	color: rgb(95, 90, 35);
}
h2.heading a:hover {
	color: rgb(0, 0, 0);
}
#header h3 {
	margin: 15px 10px 0px; padding: 0px; text-align: center; color: rgb(255, 255, 255); line-height: 1em; float: left; display: inline;
}
h3 {
	margin: 5px 0px; height: 1%; text-align: left; font-size: 1.7em; font-weight: normal;
}
h3:first-child {
	margin-top: 0px;
}
h4 {
	margin: 5px !important; text-align: left; font-size: 1.3em; font-weight: bold;
}
h4:first-child {
	margin-top: 0px;
}
th h4 {
	margin: 0px -3px; line-height: 1em; padding-top: 5px; font-size: 13px;
}
td h4 {
	margin: 0px -3px; line-height: 1em; padding-top: 5px; font-size: 13px;
}
h5 {
	margin: 10px 0px 5px; text-align: left; font-size: 1.1em; font-weight: bold;
}
.toggle h5 {
	margin: 2px 5px 4px 6px;
}
p.hint {
	margin: 0px; color: rgb(153, 153, 153); line-height: 1em; font-size: 1.2em;
}
table p.hint {
	margin: 0px;
}
#footer p {
	margin: 5px; line-height: 1em; position: relative;
}
#footer a {
	color: rgb(102, 102, 102); text-decoration: none;
}
#footer a:hover {
	color: rgb(0, 0, 0);
}
#footer p span {
	top: 0px; right: 5px; position: absolute;
}
* html #footer p span {
	top: 3px;
}
.notice p {
	margin: 0px; line-height: 1.1em;
}
.tooltip p {
	margin: 0px 0px 0.5em; line-height: 1.1em; font-size: 1.1em;
}
#header ul {
	padding: 0px; width: 120px; text-align: left; overflow: hidden; margin-top: 10px; float: left; display: inline; position: relative;
}
#header ul.tools {
	margin: 10px 10px 0px 0px; padding: 0px; border: 0px currentColor; width: 80px; float: right;
}
#header ul.tools li {
	line-height: 1em; font-size: 1.1em; display: block;
}
#header ul.tools li a {
	width: 80px; float: left; display: block;
}
#header li {
	line-height: 1.4em; font-size: 1.2em; float: left; display: inline;
}
#header li li {
	font-size: 1em;
}
#header li a {
	margin: 0px; padding: 2px; width: 110px; color: rgb(255, 255, 255); line-height: 1em; text-decoration: none; float: left; display: block;
}
#header li.selected a {
	background-color: rgb(239, 89, 89);
}
#header li a:hover {
	background-color: rgb(239, 89, 89);
}
a.reset {
	margin: 0px; padding: 0px; border: 0px currentColor; color: rgb(74, 135, 195); font-size: 1.1em; font-weight: bold; float: right; position: relative; z-index: 1;
}
a.reset:hover {
	color: rgb(0, 0, 0);
}
.tooltip li {
	line-height: 1.2em; margin-left: 20px;
}
table ul {
	margin: 0px;
}
table li {
	padding: 2px 0px; line-height: 1em; font-size: 0.9em; margin-left: 15px;
}
input.button {
	background: url("../images/bg-a-button.gif") no-repeat 100% 0px; padding: 0px 18px 0px 10px; border: 0px currentColor; height: 26px; line-height: 26px; overflow: visible; font-family: Arial, Helvetica, sans-serif; font-size: 12px !important; margin-bottom: 5px; cursor: pointer;
}
input.left-arrow.button {
	padding: 0px 10px 0px 18px;
}
* html input.button {
	height: 25px; line-height: 25px;
}
* html input.button-no-arrow {
	height: 25px; line-height: 25px;
}
* html input.button-no-arrow {
	background-position: 50% 0px;
}
input:disabled {
	color: rgb(109, 109, 109) !important; cursor: default !important;
}
.background-grey {
	background-color: rgb(243, 243, 243);
}
h3 label {
	padding-top: 4px;
}
input.button:hover {
	background-position: 100% -26px; color: rgb(0, 51, 153);
}
input.left-arrow.button:hover {
	background-position: 0px -26px; color: rgb(0, 51, 153);
}
input.button-no-arrow:hover {
	background-position: 50% -26px; color: rgb(0, 51, 153);
}
input.disabled {
	background: url("../images/bg-submit.gif") no-repeat 100% 50% rgb(204, 204, 204) !important; color: rgb(255, 255, 255) !important; cursor: text;
}
table input[type=text] {
	padding: 1px; font-size: 0.9em;
}
table input[type=password] {
	padding: 1px; font-size: 0.9em;
}
input[type=radio] {
	margin: 0px; outline: 0px; width: 13px; height: 13px;
}
input[type=checkbox] {
	margin: 0px; outline: 0px; width: 13px; height: 13px;
}
input.radio {
	margin: 0px !important; outline: 0px !important; width: 13px !important; height: 13px !important;
}
input.checkbox {
	margin: 0px !important; outline: 0px !important; width: 13px !important; height: 13px !important;
}
label {
	line-height: 1em; font-size: 1.2em; font-weight: bold; white-space: nowrap;
}
p label {
	line-height: 1em; font-size: 1em;
}
label {
	font-weight: normal;
}
table label {
	line-height: 1em; font-size: 1em;
}
label.long {
	white-space: normal;
}
label.notice {
	background: url("../images/star-grey-label.gif") no-repeat 100% 40%; padding-right: 15px;
}
.on label.notice {
	background: url("../images/star-grey-label-on.gif") no-repeat 100% 40%;
}
.content-widest select {
	width: 180px;
}
table {
	margin: 5px; font-size: 1.2em; border-collapse: collapse;
}
tr {
	padding: 4px; border: 0px solid rgb(255, 255, 255); vertical-align: middle; background-color: rgb(243, 243, 243);
}
th {
	padding: 4px; border: 0px solid rgb(255, 255, 255); vertical-align: middle; background-color: rgb(243, 243, 243);
}
td {
	padding: 4px; border: 0px solid rgb(255, 255, 255); vertical-align: middle; background-color: rgb(243, 243, 243);
}
tr.toggle td {
	white-space: normal;
}
th {
	font-weight: bold; background-color: rgb(255, 255, 255);
}
th img {
	margin-top: -5px;
}
table tr.toggle td {
	border: 0px currentColor; color: rgb(255, 255, 255); background-color: rgb(119, 119, 119);
}
tr.on td {
	color: rgb(255, 255, 255); background-color: rgb(204, 0, 0) !important;
}
tr.total {
	font-size: 1.2em;
}
tr.highlight td {
	text-align: center; color: rgb(255, 250, 240); background-color: rgb(0, 0, 255);
}
td em {
	margin: 0px 0px 0px 2px; float: left; display: inline;
}
table a {
	text-decoration: underline;
}
table a.button-no-arrow {
	background: url("../images/bg-a-button.gif") no-repeat 50% 0px; padding: 3px 10px; border: 0px currentColor; height: 26px; color: rgb(0, 0, 0); line-height: 26px; font-family: Arial, Helvetica, sans-serif; font-size: 1em; text-decoration: none !important; cursor: pointer;
}
table a.button-no-arrow:hover {
	background-position: 50% -26px; color: rgb(0, 51, 153);
}
#content table {
	width: 616px;
}
#content .content table {
	width: 602px;
}
#content .content .grey-box table {
	width: 572px;
}
#content .grey-box .content table {
	width: 572px;
}
#content .half .content table {
	width: 274px; margin-bottom: 0px;
}
#content .content .half table {
	width: 274px; margin-bottom: 0px;
}
#content .half .content .grey-box table {
	width: 254px;
}
#content .half .grey-box .content table {
	width: 254px;
}
.last {
	margin-right: 0px !important;
}
.content-widest .grey-box .content table {
	width: 892px;
}
.content-widest .grey-box .content .half table {
	width: 440px;
}
.content-widest .grey-box .content table th {
	vertical-align: middle;
}
.content-widest .grey-box .content table td {
	vertical-align: middle;
}
.align-right {
	text-align: right;
}
td.orn-title {
	color: rgb(204, 0, 0); font-weight: bold;
}
.content-widest .grey-box .content .prorateCntr {
	width: 909px;
}
.content-widest .grey-box .content .prorateCntr td {
	padding: 6px; line-height: 16px;
}
#ui-datepicker-div {
	background-color: rgb(204, 0, 0);
}
p.error {
	border-width: 2px !important; margin: 5px; padding: 5px; color: maroon; position: static;
}
#customerInfo tr {
	background-color: rgb(255, 255, 255);
}
th {
	background-color: rgb(255, 255, 255);
}
td {
	background-color: rgb(255, 255, 255);
}
